*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


h1{
    
  text-decoration:underline;
  margin: 10px;
  font-weight: normal;
  text-align: center;    
}
h2{ 
  font-weight: normal;
  text-align: center;    
}
h3{
  font-weight: normal;    
}
header{
    width: 100%;
    height: 75px;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow:  0px 1px 10px rgba(0, 0, 0, 0.4);
}
nav{                         /*establece color de fondo de la linea de los botones*/
    background:linear-gradient(0deg, rgba(94, 156, 228, 0.48), rgba(94, 156, 228, 0.48)),linear-gradient(0deg, rgba(142, 218, 95, 0.2), rgba(142, 218, 95, 0.2));
  }
input {                        /*no muestra el botón de menu */
    display: none;     
  }
label {                       /*no muestra la etiqueta ☰ */
      display:none;
  }
ul{                           /*muestra los botones con la disposición horizontal para notebook */
    display: flex;
    justify-content: left;
    margin-top:0;
    padding: 0;
   
  
  }
  
  
  li {                     /*determina la propiedad de cada botón*/
    display: block;
    margin: 15px;
    padding: 10px;
    list-style: none;
    width: 100%;
    text-align:center;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    
    
  }
  
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {                        /*determina la propiedad de cada botón cuando se posiciona encima*/
    filter: brightness(110%);
  }
  
  
 
  
  @media all and (max-width: 700px) {  /*cuando el dispositivo es como máximo de 700px*/
    
  
    input:checked  ~ ul{   /*muestra todas el contenido de todas las etiquetas ul */
    display:block;
      }
  
  
      label:hover{                /*cambia el color de ☰ */
      background: rgb(225, 214, 214);
      }
  
    li{                         /*elimina el margen  de cada botón */
         margin: 0px;
         text-align: left;
     }
  
     label {                      /* dibuja la etiqueta ☰  con formato botón */
       box-sizing: border-box;
       display: block;
       border: 1px solid black;
       border-radius: 5px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       font-weight: bold;
       text-align: center;
       user-select: none;
       background-color: cadetblue;
       transition: all 500ms ease; 
        
        }
      
  
    ul{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
       display: none;
       background-color:rgba(245, 245, 220, 0.471);
       transition: all 500ms ease;
      }
      .contenedor-img-texto{
        flex-direction: row;
      }
      
      
  
  }
  ul li a{
    text-decoration: none;
    color: black;
  }
  ul li a:hover{
    color: white
  }


  .contenedor-img-texto{
    display: flex;
    left: 7%;
    top: 22%;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 5%;
    justify-content: center;
}
aside{
  flex: 30%;
}
/* Foto */
.imagen{
    
    border-radius: 150px;
    width: 272px;
    height: 260px;
    }
    
    
    

.contenedor-texto{
    font-style: italic;
    width: 45%;
    background: linear-gradient(0deg, rgba(142, 218, 95, 0.2), rgba(142, 218, 95, 0.2)), rgba(94, 156, 228, 0.48);
    border-radius: 15px;
    font-size: 17px;
    padding: 2%;
    
}
legend{
  font-style: normal;   
}




  /* FOOTER */
footer{
  display: flex;
  width: 100%;
  height: 6%;
  left:0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(0deg, rgba(94, 156, 228, 0.48), rgba(94, 156, 228, 0.48)),linear-gradient(0deg, rgba(142, 218, 95, 0.2), rgba(142, 218, 95, 0.2));
  padding: 1em 0;
  font-size: 15px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  
}
